<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activity History</title>

</head>

<body>
  <nav class="transparent">
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="center brand-logo">AltaTec CRM</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        <li><a href="homepage.html">Home</a></li>
        <li><a href="tasks.html">Tasks</a></li>
        <li><a href="customerrecommendations.html">Recommendations</a></li>
        <li><a href="promotions.html">Promotions</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="performance.html">Performance</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a class="dropdown-trigger" href="index.html" data-target="dropdown1"><i class="material-icons left">account_circle</i>Account</a></li>
      </ul>
    </div>
  </nav>

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
    <li><a href="events.html">Events</a></li>
    <li class="divider"></li>
    <li><a href="login_page.html">Sign Out</a></li>
  </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="homepage.html">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="customerrecommendations.html">Recommendations</a></li>
    <li><a href="promotions.html">Promotions</a></li>
    <li><a href="performance.html">Performance</a></li>
    <li><a href="product.html">Products</a></li>
    <li><a href="events.html">Events</a></li>
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
  </ul>

  <br>
  <br>
  <div class="container" style="width: 80%;">
    <h5 class="center">My Activities</h5><br>
    <center>
    <a class="waves-effect waves-light btn">Notes</a>
    <a class="waves-effect waves-light btn">Tasks</a>
    <a class="waves-effect waves-light btn">Calls</a>
    <a class="waves-effect waves-light btn">Email</a>
    </center>

    <br><br>
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="/static/appback4.jpg" alt="" class="circle">
      <span class="title">Updating Customers Data</span>
      <p>Contact Info <br>
         Upcoming Activities
      </p>
<a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">bookmark</i>
      <span class="title">Customer Service Calls</span>
      <p>Contact Info <br>
         Upcoming Activities
      </p>
<a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>

    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Support Centers</span>
      <p>Contact Info <br>
         Upcoming Activities
      </p>
      <a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">apps</i>
      <span class="title">Interactions with the Customer</span>
      <p>Contact Info <br>
         Upcoming Activitiee
      </p>
     <a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">bookmark</i>
      <span class="title">Updating The Customer journeys</span>
      <p>Contact Info <br>
         Upcoming Activities
      </p>

 <a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">bookmark</i>
      <span class="title">Performing a Data Audit</span>
      <p>Contact Info <br>
         Upcoming Activities
      </p>

    <a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>
    </li>

 <li class="collection-item avatar">
      <i class="material-icons circle red">apps</i>
      <span class="title">Recognizing Best Customers</span>
      <p>Contact Info <br>
         Upcoming Activities
      </p>
     <a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>
    </li>

 <li class="collection-item avatar">
      <i class="material-icons circle red">apps</i>
      <span class="title">Performing a Policy Audit</span>
      <p>Contact Info <br>
         Upcoming Activities
      </p>
     <a href="#!" class="secondary-content waves-effect waves-light btn right">More Details</a>
    </li>
  </ul>

  </div>

  <br>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light blue"><i class="large material-icons">notifications</i></a>
  </div>

  <footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Partner With Us
                </h5>
          <p class="grey-text text-lighten-4">Our Team includes trained people in the field of Full Stack Development. Follow us on social media for new updates and products.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Stay Connected</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!--Import JQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!--JavaScript at end of body for optimized loading-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.sidenav').sidenav();
      $(".dropdown-trigger").dropdown({
        coverTrigger: false
      });
    });
  </script>
</body>

</html>
