<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome Home</title>

</head>

<body>
  <nav class="transparent">
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="center brand-logo">AltaTec CRM</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        <li><a href="homepage.html">Home</a></li>
        <li><a href="tasks.html">Tasks</a></li>
        <li><a href="customerrecommendations.html">Recommendations</a></li>
        <li><a href="promotions.html">Promotions</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="performance.html">Performance</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a class="dropdown-trigger" href="index.html" data-target="dropdown1"><i class="material-icons left">account_circle</i>Account</a></li>
      </ul>
    </div>
  </nav>

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
    <li><a href="events.html">Events</a></li>
    <li class="divider"></li>
    <li><a href="login_page.html">Sign Out</a></li>
  </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="homepage.html">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="customerrecommendations.html">Recommendations</a></li>
    <li><a href="promotions.html">Promotions</a></li>
    <li><a href="performance.html">Performance</a></li>
    <li><a href="product.html">Products</a></li>
    <li><a href="events.html">Events</a></li>
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
  </ul>

  <br>
  <br>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card hoverable blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Welcome To The Home Page</span>
          <p>We provide CRM services in order to provide a better data management experience.You can leave your feedback at the below given link in order for us to improve our services.</p>
        </div>
        <div class="card-action">
          <a class="floating btn" href="#">Provide Feedback</a>
          <a class="floating btn" href="#">Later Maybe</a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col s12 center">

      <div class="col s12 m6 l6">
        <div class="card hoverable blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Open Tasks</span>
            <p>View newly posted tasks or pending tasks and their progress.Update or mark completed work.</p>
          </div>
          <div class="card-action">
            <a href="tasks.html">View Open Tasks</a>
          </div>
        </div>
      </div>


      <div class="col s12 m6 l6">
        <div class="card hoverable blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Upcoming Events</span>
            <p>Upcoming important industry meetups and events are posted here. View, book or schedule these events.</p>
          </div>
          <div class="card-action">
            <a href="events.html">Go to Events</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 center">

      <div class="col s12 m6 l6">
        <div class="card hoverable blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Customer Recommendations</span>
            <p>Customer Details and Reviews and provided Recommendations can be viewed here</p>
          </div>
          <div class="card-action">
            <a href="customerrecommendations.html">View Recommendations</a>
          </div>
        </div>
      </div>


      <div class="col s12 m6 l6">
        <div class="card hoverable blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Products</span>
            <p>View the entire list of products, their details and their performance in the market.</p>
          </div>
          <div class="card-action">
            <a href="product.html">View Products</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light blue"><i class="large material-icons">notifications</i></a>
  </div>

  <footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Partner With Us
                </h5>
          <p class="grey-text text-lighten-4">Our Team includes trained people in the field of Full Stack Development. Follow us on social media for new updates and products.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Stay Connected</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!--Import JQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!--JavaScript at end of body for optimized loading-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.sidenav').sidenav();
      $(".dropdown-trigger").dropdown({
        coverTrigger: false
      });
    });
  </script>
</body>

</html>
