<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="effect.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Products & Details</title>

</head>

<body>

  <nav class="transparent">
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="center brand-logo">AltaTec CRM</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        <li><a href="homepage.html">Home</a></li>
        <li><a href="tasks.html">Tasks</a></li>
        <li><a href="customerrecommendations.html">Recommendations</a></li>
        <li><a href="promotions.html">Promotions</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="performance.html">Performance</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a class="dropdown-trigger" href="index.html" data-target="dropdown1"><i class="material-icons left">account_circle</i>Account</a></li>
      </ul>
    </div>
  </nav>

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
    <li><a href="events.html">Events</a></li>
    <li class="divider"></li>
    <li><a href="login_page.html">Sign Out</a></li>
  </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="homepage.html">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="customerrecommendations.html">Recommendations</a></li>
    <li><a href="promotions.html">Promotions</a></li>
    <li><a href="performance.html">Performance</a></li>
    <li><a href="product.html">Products</a></li>
    <li><a href="events.html">Events</a></li>
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
  </ul>

  <br><br>
  <div class="container" style="width: 80%;">
    <h5 class="center">Products & Details</h5><br>
  <div class="row">
    <div class="col s12 center">

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ecx.images-amazon.com/images/I/41WwbxmshWL._SY300_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Barnes &amp; Noble NOOK Simple Touch Wall Adapter BNRP58501<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Details</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Barnes &amp; Noble NOOK Simple Touch Wall Adapter BNRP58501<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
		</div>

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://ecx.images-amazon.com/images/I/31AgCC9ZFqL.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Maptech ChartKit&reg; Book w/Companion CD - Florida East Coast &amp; The Keys<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Details</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Maptech ChartKit&reg; Book w/Companion CD - Florida East Coast &amp; The Keys<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://ecx.images-amazon.com/images/I/41hYJ9MwPSL._SX300_.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Dell D620 battery, Dell D630 9 cell battery<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Details</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Dell D620 battery, Dell D630 9 cell battery<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

	<div class="row">
    <div class="col s12 center">

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ecx.images-amazon.com/images/I/41hYJ9MwPSL._SX300_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">VideoSecu 24&quot; Long Arm TV Wall Mount Low Profile Full Motion Cantilever Swing &amp<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Details</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">VideoSecu 24&quot; Long Arm TV Wall Mount Low Profile Full Motion Cantilever Swing &amp<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
		</div>

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://ecx.images-amazon.com/images/I/413fSdlMm6L._SY300_.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Nook Simple Touch eReader<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Details</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Nook Simple Touch eReader<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://ecx.images-amazon.com/images/I/41ZpXub7tcL._SX300_.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">NOOK GLOWLIGHT eBook Reader 4GB (BNRV500)<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Details</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">NOOK GLOWLIGHT eBook Reader 4GB (BNRV500)<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

	<div class="row">
    <div class="col s12 center">

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://ecx.images-amazon.com/images/I/51lBXZsMsGL._SY300_.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Barnes &amp; Noble Nook Color eReader<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Details</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Barnes &amp; Noble Nook Color eReader<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
		</div>

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://ecx.images-amazon.com/images/I/31tmsc9pqxL._SY300_.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Barnes and Noble NOOK 7&quot; 8GB WiFi Tablet<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Details</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Barnes and Noble NOOK 7&quot; 8GB WiFi Tablet<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="http://ecx.images-amazon.com/images/I/41Qqp4n2EgL._SY300_.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">PenFriend Voice Labeling System<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Details</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">PenFriend Voice Labeling System<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <br><br>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light blue"><i class="large material-icons">notifications</i></a>
  </div>

  <footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Partner With Us
                </h5>
          <p class="grey-text text-lighten-4">Our Team includes trained people in the field of Full Stack Development. Follow us on social media for new updates and products.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Stay Connected</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <!--Import JQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!--JavaScript at end of body for optimized loading-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.sidenav').sidenav();
      $(".dropdown-trigger").dropdown({
        coverTrigger: false
      });
    });
  </script>


</body>

</html>
