<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tasks</title>

</head>

<body>
  <nav class="transparent">
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="center brand-logo">AltaTec CRM</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

        <li><a href="homepage.html">Home</a></li>
        <li><a href="tasks.html">Tasks</a></li>
        <li><a href="customerrecommendations.html">Recommendations</a></li>
        <li><a href="promotions.html">Promotions</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="performance.html">Performance</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a class="dropdown-trigger" href="index.html" data-target="dropdown1"><i class="material-icons left">account_circle</i>Account</a></li>
      </ul>
    </div>
  </nav>

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
    <li><a href="events.html">Events</a></li>
    <li class="divider"></li>
    <li><a href="login_page.html">Sign Out</a></li>
  </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="homepage.html">Home</a></li>
    <li><a href="tasks.html">Tasks</a></li>
    <li><a href="customerrecommendations.html">Recommendations</a></li>
    <li><a href="promotions.html">Promotions</a></li>
    <li><a href="performance.html">Performance</a></li>
    <li><a href="product.html">Products</a></li>
    <li><a href="events.html">Events</a></li>
    <li><a href="activityhistory.html">Activity History</a></li>
    <li><a href="reminders.html">Reminders</a></li>
  </ul>

  <br>


  <div class="container" style="width: 90%;">
    <h5 class="center">Open and Completed Tasks, Campaigns</h5>
    <br>
    <div class="row">

      <div class="col s12 m12 l12">
        <div class="card hoverable blue-grey darken-1">
          <div class="card-content">
            <span class="card-title white-text">Open Tasks</span>
            <br>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="/static/appback4.jpg" alt="" class="circle">
                <span class="title">Hiring Qualified Employees</span>
                <br>
                <p> The human resources aspect of an organization is important to maintaining current operations as well as planning for future expansion.
                     <br> Pranav Gulhane, Smit Rathod
                  </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Customer Service and Preserving Relationships</span>
                <p>Customer service maintains corporate revenue by resolving customer issues and preserving the buying relationship.
                  <br> Vipin Gharde, Drisht Chaturvedi
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">Managing Employees</span>
                <p>Employee management is an ongoing business task. Managers must hire the most qualified workers, train them and help cultivate their skills.
                  <br> Hrishikesh Hirde, Abhilash Bhandekar
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Selling Products</span>
                <p>The developed product is promoted and marketed in the marketplace.
                  <br> Rohan Naik, Swaraj Gurvekar
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
            </ul>
          </div>
          <div class="card-action">
            <a href="#">View All</a>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">


      <div class="col s12 m12 l12">
        <div class="card hoverable blue-grey darken-1">
          <div class="card-content">
            <span class="card-title white-text">Completed Tasks</span>
            <br>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="/static/appback4.jpg" alt="" class="circle">
                <span class="title">Crafting a Budget</span>
                <br>
                <p>Every company creates a budget that dictates how revenue is utilized in daily operations and in the pursuit of future growth.
                  <br> Hrishikesh Hirde, Girish Kulkarni
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Accounting Operations and Management</span>
                <p>Accounting is the process of managing the flow of money in and out of the company. It comprises customer credits, etc accounting group.
                  <br> Prasad Deshmukh, Aaroh Rathi
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">Marketing Plans and Brand Recognition</span>
                <p>It helps to develop the companies product in the marketplace.
                  <br>Yash Agrawal, Rahul Manakshe
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Growing Sales and Building Relationships</span>
                <p>Sales is the group that maintains direct contact with the customer base.
                  <br> Mitali Rajput, Jay Reddy
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
            </ul>
          </div>
          <div class="card-action">
            <a href="#">View All</a>
          </div>
        </div>
      </div>


    </div>


    <br>
    <div class="row">


      <div class="col s12 m12 l12">
        <div class="card hoverable blue-grey darken-1">
          <div class="card-content">
            <span class="card-title white-text">Ongoing Promotions / Marketing Campaigns</span>
            <br>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="/static/appback4.jpg" alt="" class="circle">
                <span class="title">Advertising the Product</span>
                <br>
                <p>Advertising of a product is a marketing communication that employs an openly sponsored, non-personal message to promote or sell a product, service or idea.
                    <br> Hrishikesh Hirde
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Social Media</span>
                <p>Social media are interactive computer-mediated technologies that facilitate the creation or sharing of information, ideas, career interests, etc.
                  <br> Prasad Deshmukh
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">insert_chart</i>
                <span class="title">Influencer marketing</span>
                <p>Influencer Marketing is a hybrid of old and new marketing tools. It takes the idea of celebrity endorsement and places it into a modern-day content-driven marketing campaign.
                  <br> Yash Agrawal
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Search engine optimization</span>
                <p>Search engine optimization is the process of increasing the quality and quantity of website traffic by increasing the visibility of a website or a web page to users of a web search engine.
                  <br> Rahul Manakshe
                </p>
                <a href="#!" class="secondary-content waves-effect waves-light btn right">Details</a>
              </li>
            </ul>
          </div>
          <div class="card-action">
            <a href="#">View All</a>
          </div>
        </div>
      </div>

    </div>
    </div>


    <br>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light blue"><i class="large material-icons">notifications</i></a>
    </div>

    <footer class="page-footer blue-grey darken-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Partner With Us
                </h5>
            <p class="grey-text text-lighten-4">Our Team includes trained people in the field of Full Stack Development. Follow us on social media for new updates and products.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Stay Connected</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <!--Import JQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!--JavaScript at end of body for optimized loading-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown({
          coverTrigger: false
        });
      });
    </script>
</body>

</html>
